<h1>Manage Collaborators for <%= @wiki.title %></h1>

<table class="table">
  <thead>
    <th>User Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% if @wiki.users.include?(user) %>
          <% collaborator = @wiki.collaborator_for(user) %>
            <%= link_to "Remove as Collaborator", [@wiki, collaborator], method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Add as Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
