<div class="jumbotron text-center ">mockpedia
  <p class="text-center text-muted"> A markdown-based collaboration and information exchange platform.</p>
</div>

<h3>About mockpedia</h3>

<p><b>Application that allows users to create and share wikis with the world community.</b></p>
<p class="text-muted">Created by Tyrant Davis</p>
