<div class="container">
  <div class="jumbotron">
    <h1 class="title text-center">Blocipedia</h1>
      <p class="text-center text-muted"> A markdown-based collaboration and information exchange platform that allows users to create and share wikis with the world community.</p>
  </div>

  <!-- <div class="container"> -->

  <div class="container-fluid">
  <!-- <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p> -->

  <div class="row">
    <div class="well-container well well-lg col-sm-6" >
    <h2 class="center">Basic Account</h2>

    <span>
      <ul class="list-unstyled center">
        <span>&nbsp;</span>
        <li>Create Unlimited Public Wikis</li>
        <li>Collaborate with other users(limited)</li>
        <li>Option to Upgrade to Premium</li>
        <!-- <li>Free</li> -->
      </ul>
    </span>
      <button type="button" class="btn btn-info btn-lg btn-block center-block">Join Us! <span class="badge">Free</span></button></div>

    <div class="pull-right well well-container well-lg col-sm-6 two ">
      <h2 class="center premi">Go <span>PREMIUM!</span></h2>

      <!-- <span>&nbsp;</span> -->
      <span>
        <ul class="list-unstyled center">
          <span>&nbsp;</span>
          <li>Create Unlimited Public & Private Wikis</li>
          <li>Unlimited Collaborations</li>
          <span>&nbsp;</span>
          <!-- <li>$14.99</li> -->
        </ul>
      </span>
        <button type="button" class="btn btn-primary btn-lg btn-block center-block ">Sign-Up Now! <span class="badge">$14.99</span></button>
    </div>
  </div>
</div>
</div>
