
  <div class="jumbotron">
    <h1 class="title text-center">Blocipedia</h1>
      <p class="text-center"> A community-based collaboration platform that allows users to create and share wikis.</p>
  </div>
<div class="well well-container">
  <h2 class="center">Basic Account</h2>

  <span>&nbsp;</span>
  <span>
    <ul class="list-unstyled center">
      <li>Create Unlimited Public Wikis</li>
      <li>Collaborate with other users(limited)</li>
      <li>Option to Upgrade to Premium</li>
      <span>&nbsp;</span>
      <li>Free</li>
    </ul>
  </span>
    <button type="button" class="btn btn-info btn-lg btn-block center-block">Join Us</button>

</div>
<div class="well well-container two">
  <h2 class="center premi">Go <span>PREMIUM!</span></h2>

  <span>&nbsp;</span>
  <span>
    <ul class="list-unstyled center">
      <li>Create Unlimited Public & Private Wikis</li>
      <li>Unlimited Collaborations</li>
      <li>&nbsp;</li>
      <span>&nbsp;</span>
      <li>$14.99</li>
    </ul>
  </span>
    <button type="button" class="btn btn-primary btn-lg btn-block center-block ">Sign-Up Now!</button>
</div>
