  <div class="jumbotron">
    <h1 class="title text-center">Blocipedia</h1>
    <p class="text-center"> A community-based collaboration platform that allows users to create and share wikis.</p>
  </div>
