<div>&nbsp;</div>
<div class="container-fluid">
  <div class="jumbotron text-center ">Mockpedia
    <p class="text-center text-muted"> A markdown-based collaboration and information exchange platform.</p>
  </div>
    <div class="row">

        <div class=" col-sm-6">
            <h2 style="color: black;" class="center">Basic Account</h2>
            <span>
              <ul class="list-unstyled center">
                <span>&nbsp;</span>
                <li>Create Unlimited Public Wikis</li>
                <li>Collaborate with other users(limited)</li>
                <li>Option to Upgrade to Premium</li>
              </ul>
            </span>
            <button type="button" class="btn btn-primary btn-lg btn-block center-block">

              <%= link_to "Join Us!",new_user_registration_path, :class => 'navbar-link white-text'  %>
              <span class="badge">Free</span>
            </button>
        </div>

        <div class=" col-sm-6">
            <h2 class="center premi">Go <span>PREMIUM!</span></h2>
            <span>
              <ul class="list-unstyled center">
                <span>&nbsp;</span>
                <li>Create Unlimited Public & Private Wikis</li>
                <li>Unlimited Collaborations</li>
                <span>&nbsp;</span>
              </ul>
            </span>
            <button type="button" class="btn-info  btn-lg btn-block center-block ">
              <%= link_to "Sign-Up Now!",new_user_registration_path, :class => 'navbar-link white-text'  %>
              <span class="badge">$15.00</span>
            </button>
        </div>

    </div>
</div>
