<div class="container-fluid">
  <div class="row"></div>
 <h1 class="text-center text-muted clear">Wikis</h1>


 </div>
<span>&nbsp;</span>
 <div class="row">
   <div class="col-md-12">
       <% @wikis.each do |wiki| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to wiki.title, wiki %>
           </h4>
           <small>
             <%= markdown_text(wiki.body) %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
 </div>

 <div>
  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary btn-block' %>
</div>
