<h1>Before U Downgrade</h1>

<h3> Hello <span class="edit_profile_premi"><%= current_user.name %>!</span></h3>
<h4>This is just a friendly heads up!</h4>
<p>If you decide to downgrade all of your private wikis will become public. If you wish to utilize the private feature in the future you will have to repay.</p>

<%= link_to "Downgrade!", downgrades_path, method: :post, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
