/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.sign-up-in-links {
  position: relative;
  left: 265px;
}

.right {
  position: relative;
  top: 10px;
  float: right;
}

.left {
  position: relative;
  right: 15px;
}


li.links:link { font-weight: bold;}
li.links:visited {
  color: grey;
  text-decoration: none;}
li.links:hover {text-decoration: underline;}
.links:active {
  color: black;
  font-weight: bolder;
}

.well-container {
  margin-top: 10px;
  width: 400px;
  height: 275px;
  display: inline-table;
}

.two {
  position: relative;
  // float: right;
}

.center-block {
  margin-top: 25px;
}

.center li {
  font-weight: bold;
  text-align: center;


}

h2 {
  font-weight: bolder;
  text-align: center;
}

.premi span {
  color: #cd950c;
}

.container-fluid {
  border-color: black;
  border-width: thin;
  width: auto;;
  height: auto;

}

/* Basic style rule to outline and space block-level elements */
.jumbotron {
    font-size: 48px;
    text-align: center;
    background: #eee;
    margin-bottom: 10px;
}
.navbar-link {
  text-decoration: none;
}
