// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  margin-bottom: 15px;
}
#fadedFree {
  opacity: .8;
  color: #cd950c;
}

#hey {
  font-size: 64px;
  font-family: "Times New Roman", Times, serif;
  opacity: .98
}

// .btn-align-rt-top {
//     margin: 30px 0 0 95px;
//
// }
